body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: 1px;
  position: absolute;
}

.registerButton {
  background-color: #575ddc !important;
}

.menu_logo {
height: auto;
width: auto;
margin-left:-20px;
margin-top: -4px;
max-width: 140px;
}
Form {
  width: 450px !important;
}
form{
  width: 350px;
}
@media (max-width:720px){
  Form, form{
    width:80% !important;
  }
  .menu_logo{
    margin-left: -10px;
    margin-top: 0;
  }
}